@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario {
    display: flex;
    flex-direction: column;

    &__fieldset {
        border: none;
        margin-top: 2rem;
        padding: 0;
        min-width: 0;
    }

    &__legend {
        color: v.$gris;
        font-size: 2.2rem;
    }

    &__campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;

    }

    &__contenedor-icono {
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }

    &__icono {
        background-color: v.$gris-oscuro;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            color: v.$blanco;
            font-size: 2rem;

        }
    }

    &__label {
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$negro, .8);
    }
    &__input,
    &__select {
        padding: 1rem;
        border: 1px solid darken(v.$gris-claro, 20);
        border-radius: .5rem;

        &--file {
            border: none;
        }

        &--sociales {
            @extend .formulario__input;
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        &--textarea {
            resize: none;
        }


    }

    &__radio {
        display: flex;
        gap: 2rem;
    }

    &__campo--con-boton {
        display: flex;
        gap: 1rem;
        align-items: center;

        .formulario__input {
            flex: 1;
        }
    }

    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
        align-self: flex-start;

        &--full {
            width: 100%;
        }
    }

}

.g-recaptcha {
    display: flex;
    justify-content: flex-end;

    @include m.telefono {
        justify-content: center;
    }
}
